html body{ 
font-family: Arial, sans-seriff;
background-color: green;
}
.meta{
  font-size:10px;
  color:Darkgrey
    }
.sdname{
font-size:22px ;
margin: 02px;
}
.title{
color:Purple;
margin: 2px;
}
p.text{ 
  margin: 2px;
  font-family: calibri;
}
a{ 
  link-color:Darkblue;
 }








