html body{ 
font-family: Arial, sans-seriff;
background-color: green;
}
meta.post{
font-size:10px;
color:Darkgrey;
margin: 0 0 2 2px
}
h1.sdname{
font-size:22px ;
margin: 02px;
}
h2.title{
color:Purple;
margin: 4px;
}
p.text{ 
  margin: 2px;
  font-family: calibri;
}
a{ 
  link-color:Darkblue;
 }












